{% extends 'base.html' %}

{% block title %}
Plot
{% endblock %}

{% block body %}
<h1>Plot the graph</h1>
<div class='container'>
    <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
        <div class="col">
            <div class="card mb-4 shadow-sm">
            <img src='data:image/png;base64,{{ data1 }}' class="rounded float-left">
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm">
            <img src='data:image/png;base64,{{ data2 }}' class="rounded float-right">
            </div>
        </div>  
    </div>     
</div>
{% endblock %}